<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags + Dependencies de Boostrap5 + header de navegacion -->
    {{> templates/dependencies}}

</head>
    {{> templates/header}}
<body>
     <!-- Aca va tu contenido! -->
     <h1>Hello World!</h1>

</body>
</html>