<!-- Modal -->
<div
			class="modal fade"
			id="editarIncidenciaModal"
			tabindex="-1"
			aria-labelledby="editarIncidenciaModalLabel"
			aria-hidden="true"
			data-bs-backdrop="static">
			<div class="modal-dialog modal-dialog-centere">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="editarIncidenciaModalLabel">
							Edición de incidencias
						</h5>
						<button
							id="btnClose"
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<form
						action="/incidencia"
						enctype="multipart/form-data"
						class="needs-validation"
						id="formulario_edicion_incidencia"
						novalidate>
						<div id="modalBody" class="modal-body">
							<div class="row g-3">
								<div class="col-sm-12">
									<label for="Orden" class="form-label"
										>Seleccione el nuevo estado</label
									>
										<select class="form-select" aria-label="Default select example" name="Orden">
                                          <option selected>Nuevo Estado</option>
                                          <option value="0">REPORTADO</option>
                                          <option value="1">ASIGNADO</option>
                                          <option value="2">CONFIRMADO</option>
                                          <option value="3">EN PROGRESO</option>
                                          <option value="4">SOLUCIONADO</option>
                                          <option value="5">DESESTIMADO</option>
                                        </select>
								</div>

								<div class="col-sm-12">
                                    <label for="Descripcion" class="form-label"
                                        >Nueva Descripcion</label
                                    >
                                   <div class="input-group input-group-sm mb-3">
                                     <span class="input-group-text" id="inputGroup-sizing-sm">Descripcion</span>
                                     <input type="text" class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-sm" name="Descripcion"
                                        value="{{incidencia.descripcion}}">
                                   </div>

                                </div>


								<div class="col-sm-12" style="display:none">
									<label for="ID" class="form-label"
                                		>ID de la incidencia</label
                                	>
									<input
                                    	type="text"
                                    	class="form-control"
                                    	name="ID"
                                    	placeholder=""
                                    	value="{{incidencia.id}}" />
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button
								class="w-100 btn btn-primary btn-lg"
								type="submit"
								id="btnenviar">
								Guardar cambios
							</button>
							<div class="col-sm-12">
								<div class="d-flex justify-content-center">
									<div
										style="display: none"
										id="loading"
										class="spinner-border"
										role="status">
										<span class="visually-hidden">Loading...</span>
									</div>
								</div>
								<div
									id="finCarga"
									style="display: none"
									class="alert alert-success"
									role="alert">
									Se editó la incidencia!
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>